@using System.Collections.Specialized
@model RegisterViewModel




<div class="breadcrumb-area bg-img" style="background-image:url(assets/images/bg/breadcrumb.jpg);">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>صفحه ثبت نام/ورود</h2>
            <ul>
                <li>

                    <a href="index.html">Home</a>
                </li>
                <li class="active">login register </li>
            </ul>
        </div>
    </div>
</div>
<div class="login-register-area pt-85 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a onclick="islogin()" class="@((ViewBag.isReg!=null)?"":"active")" data-toggle="tab" href="#lg1">
                            <h4> ورود </h4>
                        </a>
                        <a onclick="isregister()" class="@((ViewBag.isReg!=null)?"active":"")" data-toggle="tab" href="#lg2">
                            <h4> ثبت نام </h4>
                        </a>
                    </div>

                    <div class="tab-content" dir="rtl" style="text-align: start">

                        <div id="lg1" class="tab-pane @((ViewBag.isReg==null)?"active":"")" style="background: linear-gradient(45deg, #ff007612,#22d6ff17, #00ff5a26);">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form asp-action="Login" asp-controller="Account">
                                        @if (ViewBag.isReg == null)
                                        {
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        }
                                        <div class="form-group">
                                            <label asp-for="LoginViewModel.Username" class="control-label"></label>
                                            <input asp-for="LoginViewModel.Username" class="form-control" />
                                            @if (ViewBag.isReg == null)
                                            {
                                                <span asp-validation-for="LoginViewModel.Username" class="text-danger"></span>
                                            }
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="LoginViewModel.Password" class="control-label"></label>
                                            <input asp-for="LoginViewModel.Password" class="form-control" />
                                            @if (ViewBag.isReg == null)
                                            {
                                                <span asp-validation-for="LoginViewModel.Password" class="text-danger"></span>
                                            }
                                        </div>
                                        <div class="form-group form-check">
                                            <label class="form-custom-check-label">
                                                <input class="checkmark" style="" asp-for="LoginViewModel.LogRememberMe" /> @Html.DisplayNameFor(model => model.LoginViewModel.LogRememberMe)
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="ورود" class="btn btn-primary" />
                                        </div>

                                    </form>
                                    <div class="row mb-3">
                                        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                                            <h5 class="" style="font-size: 16px">یا ورود با استفاده از اکانت :</h5>

                                            @if (!Model.LoginViewModel.ExternalLogins.Any())
                                            {
                                                <div>در حال حاضر امکان ورود با اکانت های دیگر وجود ندارد</div>
                                            }
                                            else
                                            {
                                                <form method="post" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.LoginViewModel.ReturnUrl">
                                                    <div class="">
                                                        @foreach (var provider in Model.LoginViewModel.ExternalLogins)
                                                        {
                                                            <button type="submit" value="@provider.Name" class="btn btn-primary" name="provider" title="ورود با استفاده از اکانت @provider.DisplayName ">
                                                                @provider.DisplayName
                                                            </button>
                                                        }
                                                    </div>
                                                </form>
                                            }

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="lg2" class="tab-pane @((ViewBag.isReg!=null)?"active":"")"style="background: linear-gradient(45deg, #ff007612,#22d6ff17, #00ff5a26);">

                            <div class="login-form-container">

                                <div class="login-register-form">
                                @if(ViewBag.isReg!=null)
                                {
                                
                                    <form asp-action="Register">
                                        
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        
                                        <div class="form-group">
                                            <label asp-for="RegUserName" class="control-label"></label>
                                            <input asp-for="RegUserName" class="form-control" />
                                            
                                                <span asp-validation-for="RegUserName" class="text-danger"></span>
                                            
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="RegEmail" class="control-label"></label>
                                            <input asp-for="RegEmail" class="form-control" />
                                            
                                                <span asp-validation-for="RegEmail" class="text-danger"></span>
                                            
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="RegPhoneNumber" class="control-label"></label>
                                            <input asp-for="RegPhoneNumber" class="form-control" />
                                            
                                                <span asp-validation-for="RegPhoneNumber" class="text-danger"></span>
                                            
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="RegPassword" class="control-label"></label>
                                            <input asp-for="RegPassword" class="form-control" />
                                           
                                                <span asp-validation-for="RegPassword" class="text-danger"></span>
                                            
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="RegPasswordRepeat" class="control-label"></label>
                                            <input asp-for="RegPasswordRepeat" class="form-control" />
                                            
                                                <span asp-validation-for="RegPasswordRepeat" class="text-danger"></span>
                                            
                                        </div>
                                        <button class="btn btn-primary" type="submit">ثبت نام</button>
                                    </form>}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function isregister() {

        $.ajax({
            url: "/Account/Register",
            data: {
                LessonID: "/Account/LoginRegister/true"
            }
        }).done(function (result) {
            $("#ListSkill").html(result);
        });
    }
    function islogin() {

        $.ajax({
            url: "/Account/Login",
            data: {
                LessonID: "/Account/LoginRegister/true"
            }
        }).done(function (result) {
            $("#ListSkill").html(result);
        });
    }
</script>



