
@model AddEditProductViewModel
@{
    ViewData["Title"] = "Add";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "AddNewProduct";
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
}

<section class="basic-elements">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="content-header">فرم ثبت نام محصول جدید</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title mb-0">اطلاعات محصول جدید را وارد نمایید</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <div class="form">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label asp-for="@Model.Name">نام محصول </label>
                                            <input type="text" asp-for="@Model.Name" class="form-control" id="Name">
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput"> برند </label>
                                            <input type="text" class="form-control" id="Brand">
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label asp-for="@Model.Price" for="basicInput"> قیمت</label>
                                            <input asp-for="@Model.Price" type="number" class="form-control" id="Price">
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label asp-for="@Model.Discount" for="basicInput"> تخفیف%</label>
                                            <input asp-for="@Model.Discount" type="number" onchange="checkMax(this.value)" aria-valuemax="100" maxlength="2" class="form-control" id="Discount">
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label asp-for="@Model.QuantityInStock" for="basicInput"> تعداد موجودی</label>
                                            <input asp-for="@Model.QuantityInStock" type="number" class="form-control" id="Inventory">
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput">نمایش داده شود؟ </label>
                                            <input type="checkbox" class="form-control" id="Displayed">
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">

                                        <fieldset class="form-group">
                                            <label asp-for="@Model.Pictures" for="basicInput">تصاویر </label>
                                            <input onchange="AddImages()" type="file" multiple class="form-control" accept="image/*" id="Images">
                                        </fieldset>
                                    </div>


                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput">دسته بندی </label>

                                            <select class="form-control" id="Category" asp-items="@(new SelectList(Model.Categories,"Id","Name"))"></select>
                                        </fieldset>
                                    </div>

                                    <div id="AreaPictures" class="row pr-lg-5" style="align-items: center">

                                        <dt>
                                        </dt>
                                    </div>


                                    <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label asp-for="@Model.Describtion" for="basicInput"> توضیحات</label>
                                            <textarea asp-for="@Model.Describtion" id="Description" class="form-control " rows="5"></textarea>
                                        </fieldset>
                                    </div>

                                    <hr />
                                    <hr />


                                    <div class="col-xl-2 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput"> نام ویژگی </label>
                                            <input type="text" class="form-control" id="txtDisplayName" placeholder="نام ویژگی" />
                                        </fieldset>
                                    </div>

                                    <div class="col-xl-2 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput"> مقدار ویژگی </label>
                                            <input type="text" class="form-control" id="txtValue" placeholder="مقدار ویژگی" />
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-2 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <br />
                                            <a class="btn btn-success" id="btnAddFeatures">افزودن</a>
                                        </fieldset>
                                    </div>

                                    <br class="clear" />

                                    <table id="tbl_Features" class="col-md-12 table table-bordered table-hover  table-condensed table-responsive">
                                        <thead>
                                            <tr>
                                                <th>
                                                    نام ویژگی
                                                </th>
                                                <th>
                                                    مقدار ویژگی
                                                </th>
                                                <th>

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                    <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <br />
                                            <a onclick="" id="btnAddProduct" class="btn btn-success col-md-12"> افزودن محصول  </a>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{

    <link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Sweetalert2/sweetalert2.min.js"></script>


    <script>

        function checkMax(value) {

            if (value > 100) {
                $("#Discount").val(100);
            }
            else if (value < 0) {
                $("#Discount").val(0);
            }

        }
        
        const inventory = [];
        function AddImages() {

            var productImages = document.getElementById("Images");

            if (productImages.files.length > 0) {
                for (var i = 0; i < productImages.files.length; i++) {
                    var imgurl = URL.createObjectURL(productImages.files[i]);
                    $('#AreaPictures').append('<dt class="img-fluid"><div Id="' + productImages.files[i].name+'"> <img class="IdImage" src="' + imgurl + '" width="150px" height="150px" style="object-fit: contain;"><i class="icon-arrow-right font-medium-3 deep-orange pl-1"></i><button class="idPictures btn btn-danger">حذف</button></div></dt>');
                    inventory.push(productImages.files[i]);
                };

                }
            }
        

        //حذف عکس اضافه شده از ارایه منسوب به url
        $("#AreaPictures").on('click', '.idPictures', function () {

            var imgName = $(this).closest("div").attr("Id");
            const result = inventory.findIndex(i => i.name === imgName);
            inventory.splice(result,1);

            $(this).closest('dt').remove();
        });

        $("#btnAddFeatures").on("click", function () {

            var txtDisplayName = $("#txtDisplayName").val();
            var txtValue = $("#txtValue").val();

            if (txtDisplayName == "" || txtValue == "") {
                swal.fire(
                    'هشدار!',
                    "نام و مقدار را باید وارد کنید",
                    'warning'
                );
            }
            else {
                $('#tbl_Features tbody').append('<tr> <td>' + txtDisplayName + '</td>  <td>' + txtValue + '</td> <td> <a class="idFeatures btnDelete btn btn-danger"> حذف </a> </td> </tr>');
                $("#txtDisplayName").val('');
                $("#txtValue").val('');
            }
        });

        $("#tbl_Features").on('click', '.idFeatures', function () {
            $(this).closest('tr').remove();
        });



        $('#btnAddProduct').on('click', function () {

            var data = new FormData();

            //دریافت مقادیر از تکس باکس ها و....
            data.append("Name", $("#Name").val());
            data.append("Brand", $("#Brand").val());
            data.append("Price", $("#Price").val());
            data.append("Discount", $("#Discount").val());
            data.append("QuantityInStock", $("#Inventory").val());
            data.append("Displayed", $("#Displayed").attr("checked") ? true : false);
            data.append("catId", $('#Category').find('option:selected').val());
            data.append("Describtion", $("#Description").val());


            //دریافت عکس های انتخاب شده توسط کاربر و قرار دادن عکس ها در متغیر data

            if (inventory.length > 0) {
                for (var i = 0; i < inventory.length; i++) {
                    data.append('Pictures', inventory[i]);
                }
            }
            


            //دریافت ویژگی های محصول از جدول
            var dataFeaturesViewModel = $('#tbl_Features tr:gt(0)').map(function () {
                return {
                    DisplayName: $(this.cells[0]).text(),
                    Value: $(this.cells[1]).text(),
                };
            }).get();

            $.each(dataFeaturesViewModel, function (i, val) {
                data.append('[' + i + '].DisplayName', val.DisplayName);
                data.append('[' + i + '].Value', val.Value);

            });

            // ارسال اطلاعات بع کنترلر
            var ajaxRequest = $.ajax({
                type: "POST",
                url: "AddProduct",
                contentType: false,
                processData: false,
                data: data,
                success: function (data) {

                    if (data == true) {
                        swal.fire(
                            'موفق!',
                            data.message,
                            'success'
                        ).then(function (isConfirm) {
                            window.location.href = "../StoreKeeper";
                        });
                    }
                    else if (data == "nullstates") {
                        swal.fire(
                            'هشدار!',
                            'لطفا تمامی فیلد هارا پر کنید',
                            'warning'
                        );
                    }
                    else if (data == "nullimage") {
                        swal.fire(
                            'هشدار!',
                            'هیچ عکسی برای محصول انتخاب نشده',
                            'error'
                        );
                    }

                    else {
                        swal.fire(
                            'هشدار!',
                            data.message,
                            'warning'
                        );
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }

            });

            ajaxRequest.done(function (xhr, textStatus) {
                // Do other operation
            });
        });
    </script>
}

