@model DetailViewModel

<div class="breadcrumb-area bg-img" style="background-image:url(~/DaxoneAssets/assets/images/bg/breadcrumb.jpg);">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>Product details page</h2>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Tab style 1 </li>
            </ul>
        </div>
    </div>
</div>
<div class="product-details-area pt-90 pb-90 container">
    <div class="container" style="text-align: right;direction: rtl">
        <div class="row" style="direction: rtl">
            <div class="col-lg-4 col-md-6" style="">
                <div class="product-details-img">
                    <div class="zoompro-border zoompro-span">
                        <img class="zoompro" src="@($"/images/db_Images/{Model.Product.Id}-1.jpg")" data-zoom-image="@($"/images/db_Images/{Model.Product.Id}-1.jpg")" alt="" /> <span></span>
                    </div>
                    <div id="gallery" class="mt-20 product-dec-slider" style="direction: ltr">
                        @foreach (var item in Model.ProductPics)
                        {
                            ViewBag.imagesCounter++;
            <a data-image="@($"/images/db_Images/{item.ProductId}-{ViewBag.imagesCounter}.jpg")" data-zoom-image="@($"/images/db_Images/{item.ProductId}-{ViewBag.imagesCounter}.jpg")" style="margin-left: 100px">
                <img src="@($"/images/db_Images/{item.ProductId}-{ViewBag.imagesCounter}.jpg")" style="width: 90px; height: 90px;object-fit: contain" alt="@Model.Product.Name">
            </a>}

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" style="padding-right:50px">
                <div class="product-details-content pro-details-content-modify" style="text-align:center">
                    <span>جزئیات محصول</span>
                    <hr />
                    <h2 style="font-family: cursive,'vazir'">@Model.Product.Name</h2>
                    <hr />
                    <div class="product-ratting-review" style="flex-direction: column">
                        <div class="product-ratting">
                            <i class="la la-star-half"></i>
                            <i class="la la-star"></i>
                            <i class="la la-star"></i>
                            <i class="la la-star"></i>
                            <i class="la la-star"></i>
                        </div>
                        <hr />
                        <div class="product-review">
                            <span> 40+ بازدید </span>
                        </div>
                    </div>
                    <div class="pro-details-color-wrap d-inline-block">
                        <span>رنگ ها:</span>
                        <div class="pro-details-color-content">
                            <ul>
                                <li class="green"></li>
                                <li class="yellow"></li>
                                <li class="red"></li>
                                <li class="blue"></li>
                            </ul>
                        </div>
                        <hr />
                    </div>
                    <div class="pro-details-size">
                        <span>سایز ها:</span>
                        <div class="pro-details-size-content">
                            <ul>
                                <li><a href="#">s</a></li>
                                <li><a href="#">m</a></li>
                                <li class="" style="margin: 0px 1px 0px 3px"><a href="#"> xl </a></li>
                                <li><a href="#">  xxl </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            @{ bool isInFavs = Model.UserFavProducts.Any(u => u.Id == Model.Product.Id);
                bool iszInStock = Model.Product.Item.QuantityInStuck >= 0;
                bool isHasdiscount = Model.Product.Item.Discount != 0;
                string price = Model.Product.Item.Price.ToString("#,0") + "تومان"; }
            <div class="col-lg-4 col-md-12 mt-md-5 " style="display: flex; text-align-last: center; height: 400px; border-radius: calc(4.5rem - 25px); box-shadow: 0px 0px 9px 0px #e9e9e9; flex-direction: column; flex-wrap: nowrap; align-content: center; justify-content: center; align-items: center;">
                <form class="product-details-content pro-details-content-modify" style="margin: 3rem">
                    <div class="pro-details-price-wrap" style="margin-right: 44px;">
                        <div class="product-price text-center">
                            <span class="md" style="@(iszInStock?"color:#0ecfa2ad":"color: #919191;")">@(iszInStock? ((isHasdiscount? (((Int64)Model.Product.Item.Price *((100 - Model.Product.Item.Discount)/ 100)).ToString("#,0") + "تومان") : price)):"ناموجود")</span>
                            <span class="old" style="color: #ff1465;">@(iszInStock?((Model.Product.Item.Discount!=0?(price) : "")) : "")</span>
                        </div>
                        <div class="@(isHasdiscount?(("dec-rang")):"d-none")"><span>@(isHasdiscount ? (("-"+Model.Product.Item.Discount+"%")):"")</span></div>
                    </div>

                    <div class="pro-details-quality">
                        <div class="cart-plus-minus">
                            <input class="cart-plus-minus-box" id="checkqtybtn" type="text" name="qtybutton" value="1">
                        </div>
                    </div>

                    <div class="pro-details-compare-wishlist justify-content-center">
                        <div class="pro-details-compare">
                            <a title="Add To Compare" href="#"><i class="la la-retweet"></i> مقایسه</a>
                        </div> <div class="pro-details-wishlist">
                            @if (isInFavs == true)
                            {
                <a title="حذف از علاقه مندی ها" asp-controller="Home" asp-action="RemoveFromFavorites" asp-route-Id="@Model.Product.Id"><i class="la la-heart"></i>حذف از علاقه مندی ها</a> }
            else
            {
<a title="افزودن به علاقه مندی ها" asp-controller="Home" asp-action="AddToFavorites" asp-route-productId="@Model.Product.Id"><i class="la la-heart-o"></i>افزودن به علاقه مندی ها</a>}
                        </div>
                    </div>

                    <div class="pro-details-buy-now btn-hover btn-hover-radious">

                        <a id="qtyApply" route-Itemid="@Model.Product.ItemId">افزودن به سبد خرید</a>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="description-review-wrapper pb-90">
    <div class="container" style="direction: rtl;text-align: right;">
        <div class="row">
            <div class="ml-auto mr-auto col-lg-10">
                <div class="dec-review-topbar nav mb-40">
                    <a data-toggle="tab" href="#des-details1">توضیحات</a>
                    <a class="active" data-toggle="tab" href="#des-details2">مشخصات</a>
                    <a data-toggle="tab" href="#des-details3">نظرات</a>
                </div>
                <div class="tab-content dec-review-bottom">
                    <div id="des-details1" class="tab-pane">
                        <div class="description-wrap">
                            <p>@Model.Product.Describtion</p>
                        </div>
                    </div>
                    <div id="des-details2" class="tab-pane active">
                        <div class="specification-wrap table-responsive">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="width1">نام / مدل</td>
                                        <td>@Model.Product.Name</td>
                                    </tr>
                                    <tr>
                                        <td>نوع</td>
                                        <td>مدل ها</td>
                                    </tr>
                                    <tr>
                                        <td class="width1">مدل</td>
                                        <td>FX 829 v1</td>
                                    </tr>
                                    <tr>
                                        <td class="width1">گروه</td>
                                        <td> محصولات </td>
                                    </tr>
                                    <tr>
                                        <td class="width1">سایز</td>
                                        <td>60’’ x 40’’</td>
                                    </tr>
                                    <tr>
                                        <td class="width1">پورت نمایشگر</td>
                                        <td>Multi</td>
                                    </tr>
                                    <tr>
                                        <td class="width1">Media</td>
                                        <td>Brightside</td>
                                    </tr>
                                    <tr>
                                        <td class="width1">رنگ</td>
                                        <td>مشکی, سفید</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="des-details3" class="tab-pane">
                        <div class="dec-review-wrap mb-50">
                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-5">
                                    <div class="dec-review-img-wrap">
                                        <div class="dec-review-img">
                                            <img src="@($"/images/{Model.Product.Id}.jpg")" alt="review">
                                        </div>
                                        <div class="dec-client-name">
                                            <h4>Jonathon Doe</h4>
                                            <div class="dec-client-rating">
                                                <i class="la la-star"></i>
                                                <i class="la la-star"></i>
                                                <i class="la la-star"></i>
                                                <i class="la la-star"></i>
                                                <i class="la la-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-7">
                                    <div class="dec-review-content">
                                        <p>لورم ایپسوم یا طرح‌نمابه متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد. معمولا طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی که طراحان عموما نویسنده متن نیستند و وظیفه رعایت حق تکثیر متون را ندارند و در همان حال کار آنها به نوعی وابسته به متن می‌باشد آنها با استفاده از محتویات ساختگی، صفحه گرافیکی خود را صفحه‌آرایی می‌کنند تا مرحله طراحی و صفحه‌بندی را به پایان برند,</p>
                                        <div class="review-content-bottom">
                                            <div class="review-like">
                                                <span><i class="la la-heart"></i> 24 پسندیده اند</span>
                                            </div>
                                            <div class="review-date">
                                                <span>1399/02/04</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dec-review-wrap mb-50">
                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-5">
                                    <div class="dec-review-img-wrap">
                                        <div class="dec-review-img">
                                            <img src="@($"/images/{Model.Product.Id}.jpg")" alt="review">
                                        </div>
                                        <div class="dec-client-name">
                                            <h4>Jonathon Doe</h4>
                                            <div class="dec-client-rating">
                                                <i class="la la-star"></i>
                                                <i class="la la-star"></i>
                                                <i class="la la-star"></i>
                                                <i class="la la-star"></i>
                                                <i class="la la-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-7">
                                    <div class="dec-review-content">
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
                                        <div class="review-content-bottom">
                                            <div class="review-like">
                                                <span><i class="la la-heart"></i> 24 پسندیده اند</span>
                                            </div>
                                            <div class="review-date">
                                                <span>25 Jun 2019</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dec-review-wrap">
                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-5">
                                    <div class="dec-review-img-wrap">
                                        <div class="dec-review-img">
                                            <img src="@($"/images/{Model.Product.Id}.jpg")" alt="review">
                                        </div>
                                        <div class="dec-client-name">
                                            <h4>Jonathon Doe</h4>
                                            <div class="dec-client-rating">
                                                <i class="la la-star"></i>
                                                <i class="la la-star"></i>
                                                <i class="la la-star"></i>
                                                <i class="la la-star"></i>
                                                <i class="la la-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-lg-8 col-md-7">
                                    <div class="dec-review-content">
                                        <p>لورم ایپسوم یا طرح‌نمابه متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد. معمولا طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی که طراحان عموما نویسنده متن نیستند و وظیفه رعایت حق تکثیر متون را ندارند </p>
                                        <div class="review-content-bottom">
                                            <div class="review-like">
                                                <span><i class="la la-heart"></i> 24 Likes</span>
                                            </div>
                                            <div class="review-date">
                                                <span>25 Jun 2022</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-area pb-85">
    <div class="container">
        <div class="section-title-6 mb-50 text-center">
            <h2>Related Product</h2>
        </div>
        <div class="product-slider-active owl-carousel">
            <div class="product-wrap">
                <div class="product-img mb-15">
                    <a href="product-details.html"><img src="~/DaxoneAssets/assets/images/product/pro-hm1-5.jpg" alt="product"></a>
                    <div class="product-action">
                        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class="la la-plus"></i></a>
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                    </div>
                </div>
                <div class="product-content">
                    <span>Chair</span>
                    <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                    <div class="price-addtocart">
                        <div class="product-price">
                            <span>$210.00</span>
                        </div>
                        <div class="product-addtocart">
                            <a title="Add To Cart" href="#">+ Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-wrap">
                <div class="product-img mb-15">
                    <a href="product-details.html"><img src="~/DaxoneAssets/assets/images/product/pro-hm1-6.jpg" alt="product"></a>
                    <div class="product-action">
                        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class="la la-plus"></i></a>
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                    </div>
                </div>
                <div class="product-content">
                    <span>Chair</span>
                    <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                    <div class="price-addtocart">
                        <div class="product-price">
                            <span>$210.00</span>
                            <span class="old">$230.00</span>
                        </div>
                        <div class="product-addtocart">
                            <a title="Add To Cart" href="#">+ Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-wrap">
                <div class="product-img mb-15">
                    <a href="product-details.html"><img src="~/DaxoneAssets/assets/images/product/pro-hm1-7.jpg" alt="product"></a>
                    <div class="product-action">
                        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class="la la-plus"></i></a>
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                    </div>
                </div>
                <div class="product-content">
                    <span>Chair</span>
                    <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                    <div class="price-addtocart">
                        <div class="product-price">
                            <span>$250.00</span>
                        </div>
                        <div class="product-addtocart">
                            <a title="Add To Cart" href="#">+ Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-wrap">
                <div class="product-img mb-15">
                    <a href="product-details.html"><img src="~/DaxoneAssets/assets/images/product/pro-hm1-8.jpg" alt="product"></a>
                    <div class="product-action">
                        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class="la la-plus"></i></a>
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                    </div>
                </div>
                <div class="product-content">
                    <span>Chair</span>
                    <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                    <div class="price-addtocart">
                        <div class="product-price">
                            <span>$320.00</span>
                            <span class="old">$120.00</span>
                        </div>
                        <div class="product-addtocart">
                            <a title="Add To Cart" href="#">+ Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-wrap">
                <div class="product-img mb-15">
                    <a href="product-details.html"><img src="~/DaxoneAssets/assets/images/product/pro-hm1-6.jpg" alt="product"></a>
                    <span class="price-dec">-30%</span>
                    <div class="product-action">
                        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class="la la-plus"></i></a>
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                    </div>
                </div>
                <div class="product-content">
                    <span>Chair</span>
                    <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                    <div class="price-addtocart">
                        <div class="product-price">
                            <span>$210.00</span>
                            <span class="old">$230.00</span>
                        </div>
                        <div class="product-addtocart">
                            <a title="Add To Cart" href="#">+ Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="tab-content quickview-big-img">
                            <div id="pro-1" class="tab-pane fade show active">
                                <img src="~/DaxoneAssets/assets/images/product/quickview-l1.jpg" alt="">
                            </div>
                            <div id="pro-2" class="tab-pane fade">
                                <img src="~/DaxoneAssets/assets/images/product/quickview-l2.jpg" alt="">
                            </div>
                            <div id="pro-3" class="tab-pane fade">
                                <img src="~/DaxoneAssets/assets/images/product/quickview-l3.jpg" alt="">
                            </div>
                            <div id="pro-4" class="tab-pane fade">
                                <img src="~/DaxoneAssets/assets/images/product/quickview-l2.jpg" alt="">
                            </div>
                        </div>
                        <!-- Thumbnail Large Image End -->
                        <!-- Thumbnail Image End -->
                        <div class="quickview-wrap mt-15">
                            <div class="quickview-slide-active owl-carousel nav nav-style-2" role="tablist">
                                <a class="active" data-toggle="tab" href="#pro-1"><img src="~/DaxoneAssets/assets/images/product/quickview-s1.jpg" alt=""></a>
                                <a data-toggle="tab" href="#pro-2"><img src="~/DaxoneAssets/assets/images/product/quickview-s2.jpg" alt=""></a>
                                <a data-toggle="tab" href="#pro-3"><img src="~/DaxoneAssets/assets/images/product/quickview-s3.jpg" alt=""></a>
                                <a data-toggle="tab" href="#pro-4"><img src="~/DaxoneAssets/assets/images/product/quickview-s4.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="product-details-content quickview-content">
                            <span>Life Style</span>
                            <h2>LaaVista Depro, FX 829 v1</h2>
                            <div class="product-ratting-review">
                                <div class="product-ratting">
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star-half-o"></i>
                                </div>
                                <div class="product-review">
                                    <span>40+ Reviews</span>
                                </div>
                            </div>
                            <div class="pro-details-color-wrap">
                                <span>Color:</span>
                                <div class="pro-details-color-content">
                                    <ul>
                                        <li class="green"></li>
                                        <li class="yellow"></li>
                                        <li class="red"></li>
                                        <li class="blue"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pro-details-size">
                                <span>Size:</span>
                                <div class="pro-details-size-content">
                                    <ul>
                                        <li><a href="#">s</a></li>
                                        <li><a href="#">m</a></li>
                                        <li><a href="#">xl</a></li>
                                        <li><a href="#">xxl</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pro-details-price-wrap">
                                <div class="product-price">
                                    <span>$210.00</span>
                                    <span class="old">$230.00</span>
                                </div>
                                <div class="dec-rang"><span>- 30%</span></div>
                            </div>
                            <div class="pro-details-quality">
                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="02">
                                </div>
                            </div>
                            <div class="pro-details-compare-wishlist">
                                <div class="pro-details-compare">
                                    <a title="Add To Compare" href="#"><i class="la la-retweet"></i> Compare</a>
                                </div>
                                <div class="pro-details-wishlist">
                                    <a title="Add To Wishlist" href="#"><i class="la la-heart-o"></i> Add to wish list</a>
                                </div>
                            </div>
                            <div class="pro-details-buy-now btn-hover btn-hover-radious">
                                <a href="#">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->
@section Scripts{
    <script>

        $("#checkqtybtn").on("input",
            function (value) {
                

                value = $(this).val();
                if (value > 5) {
                    $(this).val(5);
                }
                else if (value < 0) {
                    $(this).val(0);
                }

            });

        $("#qtyApply").on("click",
            function () {
                alert('inposition');
                var itemId = $(this).attr("route-Itemid");
                var qtbnum = $("#checkqtybtn").val();
                $.ajax({
                    url: "../AddToCart/" + itemId + "/" + qtbnum ,
                    data: {
                        qtbnum,
                        itemId
                    }
                }).done(function (result) {
                    window.location.href = "../ShowCart";
                });


            });

        function checkinput(value) {

            $.ajax({
                url: "/Account/Register",
                data: {

                    LessonID: "/Account/LoginRegister/true"
                }
            }).done(function (result) {
                $("#ListSkill").html(result);
            });
        }


    </script>

}