@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}



<div class="text-right">
    <div class="slider-area pt-20">
        <div class="container">
            <div class="slider-active-4 owl-carousel dot-style-2">
                <div class="slider-height-9 bg-img res-white-overly-xs border-rd-md " dir="rtl" style="background-image: url(/Images/BannerAndAds/1.jpg);object-fit:contain  ">
                    <div class="row align-items-center">
                        <div class="mr-auto col-lg-9 col-md-12 col-12 col-sm-12">
                            <div class="slider-content-8 slider-animated-1 " dir="rtl">
                                <h1 class="animated text-lg-header hover-blur">سر تیتر اسلایدر</h1>
                                <p class="animated hover-blur text-md-para-orange">لورم اپیزوم یا طرح نمایه ازمایش متنی بی مفهوم جهت تست فیچر های یک وبسایت است</p>
                                <div class="slider-btn-8 default-btn btn-hover hover-border-none">
                                    <a class="animated black-color" href="product-details.html">همین الان بخر!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-height-9 bg-img res-white-overly-xs border-rd-md " dir="rtl" style="background-image: url(/Images/BannerAndAds/2.jpeg); object-fit: contain">
                    <div class="row align-items-center">
                        <div class="mr-auto col-lg-9 col-md-12 col-12 col-sm-12">
                            <div class="slider-content-8 slider-animated-1" dir="rtl">
                                <h1 class="animated text-lg-header hover-blur">سر تیتر اسلایدر</h1>
                                <p class="animated hover-blur text-md-para-orange">لورم اپیزوم یا طرح نمایه ازمایش متنی بی مفهوم جهت تست فیچر های یک وبسایت است</p>
                                <div class="slider-btn-8 default-btn btn-hover hover-border-none">
                                    <a class="animated black-color" href="product-details.html">همین الان بخر!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-height-9 bg-img res-white-overly-xs border-rd-md " dir="rtl" style="background-image: url(/Images/BannerAndAds/3.jpeg);object-fit:contain;">
                    <div class="row align-items-center">
                        <div class="mr-auto col-lg-9 col-md-12 col-12 col-sm-12">
                            <div class="slider-content-8 slider-animated-1" dir="rtl">
                                <h1 class="animated text-lg-header hover-blur">سر تیتر اسلایدر</h1>
                                <p class="animated hover-blur text-md-para-orange">لورم اپیزوم یا طرح نمایه ازمایش متنی بی مفهوم جهت تست فیچر های یک وبسایت است</p>
                                <div class="slider-btn-8 default-btn btn-hover hover-border-none">
                                    <a class="animated black-color" href="product-details.html">همین الان بخر!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="banner-area pt-30 pb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="banner-wrap mb-30 box-shad-lg-blur border-rd-md">
                    <a href="product-details.html">
                        <img src="/Images/BannerAndAds/e627ce1c1c98ef934b178f1a0b2a4238dc413982_1628351305.jpg" width="450px" height="260px" alt="banner">
                    </a>
                    <div class="banner-content-12">
                        <h2>Qucx Lapoo</h2>
                        <h5>G432xx</h5>
                        <h3>1990.00</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="banner-wrap mb-30 box-shad-lg-blur border-rd-md">
                    <a href="product-details.html">
                        <img src="/Images/BannerAndAds/bann.jpg" width="450px" height="260px" alt="banner">
                    </a>
                    <div class="banner-content-9">
                        <h3>Beots <br>Superb</h3>
                        <p>Lorem Ipsum is simply dummy text</p>
                        <a href="product-details.html">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="banner-wrap mb-30 res-white-overly-xs box-shad-lg-blur border-rd-md">
                    <a href="product-details.html">
                        <img src="~/Images/BannerAndAds/00fc299a1a801cb70710b2dc79dc85259a0d51c6_1637763391.jpg" width="450px" height="260px" style="" alt="banner">
                    </a>
                    <div class="banner-content-9 banner-content-9-mrg2">
                        <h4>Sup<span>erb</span></h4>
                        <p>Lorem Ipsum is simply dummy text</p>
                        <a href="product-details.html">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="product-area pb-40">
        <div class="container">
            <div class="section-title-tab-wrap">
                <div class="row">

                    <div class="col-lg-4 col-md-10 col-sm-10  bg-darkamagenta shadow-lg" style="margin-bottom: -47px; display: flex; border-radius: 10px; transform: translate(53px, -44px); align-items: center; justify-content: space-around; flex-wrap: nowrap; flex-direction: row;">
                        <div>
                            <div class="section-title-5">
                                <h2 class="select-owl-item pr-10 pl-10 text-white pt-lg-2 pb-lg-2" style="width: 270px;font-weight: 900;background-color: #8a09ff;">محصولات پیشنهادی</h2>
                            </div>
                        </div>
                        <section style="width: 119px;background: url(/Images/backgrounds/flame-425.png) no-repeat;background-size: 107px;height: 141px;filter: drop-shadow(-1px 2px 6px blue);"></section>
                    </div>
                    <div class="col-xl-6 col-lg-8 col-md-10 col-sm-10" style="align-self: self-end;">
                        <div class="product-tab-list-4 nav">
                            <a class="select-owl-item" href="#product-5" data-toggle="tab">
                                <h5 class="select-owl-item-text">کامپیورتر </h5>
                            </a>
                            <a class="active select-owl-item" href="#product-6" data-toggle="tab">
                                <h5 class="select-owl-item-text">لوازم جانبی</h5>
                            </a>
                            <a class="select-owl-item" href="#product-7" data-toggle="tab">
                                <h5 class="select-owl-item-text">اپل</h5>
                            </a>
                            <a class="select-owl-item" href="#product-8" data-toggle="tab">
                                <h5 class="select-owl-item-text">Dell </h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content jump" style="background: linear-gradient(266deg, #ffbfbf, rgb(255 129 129 / 33%), #cf72ff63, rgb(215 210 255 / 50%), rgb(255 209 209)), url(/Images/backgrounds/tic-tac-toe.png) repeat #fff;">
                <div id="product-5" class="tab-pane">
                    <div class="product-slider-active owl-carousel">

                        @foreach (var item in ViewBag.owlsugestroducts1)
                        {
                            <div class="product-wrap product-border-3 product-img-zoom mb-30" style="background-color: white;text-align: center">
                                <div class="product-img" align="center">
                                    <a href="product-details.html"><img src="/Images/db_Images/@{@item.Id}-1.jpg" alt="product" style="width: 155px;height: 218px;;object-fit: contain;"></a>
                                    <div class="product-action-4">
                                        <div class="product-action-4-style">
                                            <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                            <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                            <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content product-content-padding">
                                    <h4><a href="product-details.html">@item.Name</a></h4>
                                    <div class="price-addtocart" style="justify-content: center;">
                                        <div class="product-price">
                                            <span><h3> @item.Item.Price.ToString("#,0")تومان!</h3></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }



                    </div>
                </div>
                <div id="product-6" class="tab-pane active">
                    <div class="product-slider-active owl-carousel">
                        @foreach (var item in ViewBag.owlsugestroducts2)
                        {
                            <div class="product-wrap product-border-3 product-img-zoom mb-30" style="background-color: white; text-align: center">
                                <div class="product-img" align="center">
                                    <a asp-action="Details"
                                       asp-controller="Home"
                                       asp-route-id="@item.Id"><img src="/Images/db_Images/@{@item.Id}-1.jpg" alt="product" style="width: 155px; height: 218px; object-fit: contain;"></a>
                                    <div class="product-action-4">
                                        <div class="product-action-4-style">
                                            <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                            <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                            <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content product-content-padding " dir="rtl">
                                    <h4><a href="product-details.html">@item.Name</a></h4>
                                    <div class="price-addtocart" style="justify-content: center;">
                                        <div class="product-price text-right font-weight-bold">
                                            <span><h3> @item.Item.Price.ToString("#,0")تومان!</h3></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
                <div id="product-7" class="tab-pane">
                    <div class="product-slider-active owl-carousel">
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-10.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$210.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-9.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$220.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-8.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$210.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-7.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$230.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-6.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$240.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="product-8" class="tab-pane">
                    <div class="product-slider-active owl-carousel">
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-5.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$210.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-4.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$220.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-2.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$210.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-1.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$230.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-3.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$240.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="product-9" class="tab-pane">
                    <div class="product-slider-active owl-carousel">
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-7.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$210.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-6.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$220.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-5.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$210.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-2.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$230.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-1.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$240.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-area pb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="banner-wrap mb-30 border-rd-md box-shad-lg-blur">
                        <a href="product-details.html"><img src="~/Images/BannerAndAds/a93842e14be1b87adf91ae99387135eb71f6c124_1637649210.jpg" height="450" alt="banner"></a>
                        <div class="banner-content-10">
                            <h2>Mak Pro Gamming</h2>
                        </div>
                        <div class="banner-content-10-btn">
                            <a href="#">Shop Now</a>
                        </div>
                    </div>
                </div>
               
                <div class="col-lg-8 col-md-8 ">
                    <div class="border-rd-md banner-wrap mb-30 res-white-overly-xs res-white-overly-md ">
                        <a class="border-rd-md box-shad-lg-blur" href="product-details.html"> <img src="~/Images/BannerAndAds/427d697d2bd13de9f29a96222fdf6486cb98f715_1638022021.jpg"  height="450" alt="banner"></a>
                        <div class="banner-content-13">
                            <h3>Qucx electric scooter</h3>
                            <p>It is a long established fact that a reader will be distracted by the readable</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-area pb-40">
        <div class="container">
            <div class="section-title-tab-wrap">
                <div class="row">

                    <div class="col-lg-4 col-md-10 col-sm-10  bg-darkamagenta shadow-lg" style="margin-bottom: -47px; display: flex; border-radius: 10px; transform: translate(53px, -44px); align-items: center; justify-content: space-around; flex-wrap: nowrap; flex-direction: row;">
                        <div>
                            <div class="section-title-5">
                                <h2 class="select-owl-item pr-10 pl-10 text-white pt-lg-2 pb-lg-2" style="width: 270px;font-weight: 900;background-color: #8a09ff;">تازه ترین ها</h2>
                            </div>
                        </div>
                        <section style="width: 119px;background: url(/Images/backgrounds/flame-425.png) no-repeat;background-size: 107px;height: 141px;filter: drop-shadow(-1px 2px 6px blue);"></section>
                    </div>
                    <div class="col-xl-6 col-lg-8 col-md-10 col-sm-10" style="align-self: self-end;">
                        <div class="product-tab-list-4 nav">
                            <a class="select-owl-item" href="#product-5" data-toggle="tab">
                                <h5 class="select-owl-item-text">کامپیورتر </h5>
                            </a>
                            <a class="active select-owl-item" href="#product-6" data-toggle="tab">
                                <h5 class="select-owl-item-text">لوازم جانبی</h5>
                            </a>
                            <a class="select-owl-item" href="#product-7" data-toggle="tab">
                                <h5 class="select-owl-item-text">اپل</h5>
                            </a>
                            <a class="select-owl-item" href="#product-8" data-toggle="tab">
                                <h5 class="select-owl-item-text">سامسونگ </h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content jump" style="background: linear-gradient(266deg, #ffbfbf, rgb(255 129 129 / 33%), #cf72ff63, rgb(215 210 255 / 50%), rgb(255 209 209)), url(/Images/backgrounds/tic-tac-toe.png) repeat #fff;">
                <div id="product-5" class="tab-pane">
                    <div class="product-slider-active owl-carousel">

                        @foreach (var item in ViewBag.owlsugestroducts1)
                        {
                            <div class="product-wrap product-border-3 product-img-zoom mb-30" style="background-color: white;text-align: center">
                                <div class="product-img" align="center">
                                    <a href="product-details.html"><img src="/Images/db_Images/@{@item.Id}-1.jpg" alt="product" style="width: 155px;height: 218px;;object-fit: contain;"></a>
                                    <div class="product-action-4">
                                        <div class="product-action-4-style">
                                            <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                            <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                            <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content product-content-padding">
                                    <h4><a href="product-details.html">@item.Name</a></h4>
                                    <div class="price-addtocart" style="justify-content: center;">
                                        <div class="product-price">
                                            <span><h3> @item.Item.Price.ToString("#,0")تومان!</h3></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }



                    </div>
                </div>
                <div id="product-6" class="tab-pane active">
                    <div class="product-slider-active owl-carousel">
                        @foreach (var item in ViewBag.owlsugestroducts2)
                        {
                            <div class="product-wrap product-border-3 product-img-zoom mb-30" style="background-color: white; text-align: center">
                                <div class="product-img" align="center">
                                    <a asp-action="Details"
                                       asp-controller="Home"
                                       asp-route-id="@item.Id"><img src="/Images/db_Images/@{@item.Id}-1.jpg" alt="product" style="width: 155px; height: 218px; object-fit: contain;"></a>
                                    <div class="product-action-4">
                                        <div class="product-action-4-style">
                                            <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                            <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                            <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content product-content-padding " dir="rtl">
                                    <h4><a href="product-details.html">@item.Name</a></h4>
                                    <div class="price-addtocart" style="justify-content: center;">
                                        <div class="product-price text-right font-weight-bold">
                                            <span><h3> @item.Item.Price.ToString("#,0")تومان!</h3></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
                <div id="product-7" class="tab-pane">
                    <div class="product-slider-active owl-carousel">
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-10.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$210.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-9.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$220.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-8.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$210.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-7.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$230.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-6.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$240.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="product-8" class="tab-pane">
                    <div class="product-slider-active owl-carousel">
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-5.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$210.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-4.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$220.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-2.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$210.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-1.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$230.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-3.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$240.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="product-9" class="tab-pane">
                    <div class="product-slider-active owl-carousel">
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-7.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$210.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-6.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$220.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-5.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$210.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-2.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$230.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrap product-border-3 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/DoxoneAssets/assets/images/product/pro-hm5-1.jpg" alt="product"></a>
                                <div class="product-action-4">
                                    <div class="product-action-4-style">
                                        <a data-tooltip="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                        <a data-tooltip="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                                        <a data-tooltip="Compare" href="#"><i class="la la-random"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$240.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="brand-logo-area pb-70">
        <div class="container">
            <div class="brand-logo-padding bg-gray-3">
                <div class="brand-logo-active-2 owl-carousel">
                    <div class="single-brand-logo">
                        <img src="~/DoxoneAssets/assets/images/brand-logo/brand-logo-5.png" alt="">
                    </div>
                    <div class="single-brand-logo">
                        <img src="~/DoxoneAssets/assets/images/brand-logo/brand-logo-6.png" alt="">
                    </div>
                    <div class="single-brand-logo">
                        <img src="~/DoxoneAssets/assets/images/brand-logo/brand-logo-7.png" alt="">
                    </div>
                    <div class="single-brand-logo">
                        <img src="~/DoxoneAssets/assets/images/brand-logo/brand-logo-8.png" alt="">
                    </div>
                    <div class="single-brand-logo">
                        <img src="~/DoxoneAssets/assets/images/brand-logo/brand-logo-9.png" alt="">
                    </div>
                    <div class="single-brand-logo">
                        <img src="~/DoxoneAssets/assets/images/brand-logo/brand-logo-6.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>



